[MASTER]
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code,
    no-member,
    wrong-import-position,
    eval-used,
    import-outside-toplevel,
    broad-exception-caught,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    unused-argument

[FORMAT]
max-line-length=120
