Описание проекта
Цель проекта

Приложение должно содержать:

минимум 4 страницы;
минимум 2 формы ввода/редактирования данных;
минимум 2 страницы вывода информации.
Все формы должны иметь валидацию и выдавать читаемые сообщения об ошибках. Данные хранятся в базе данных или файле, по выбору студента.

Оригинальность приветствуется, но необходимо оставаться в рамках образовательной тематики. Проекты других тематик оцениваться не будут.

В качестве источника данных для записи и чтения данных вы можете использовать базу данных или же текстовый файл (как показано в проекте-референсе).

Формальные технические требования
Использование HTML-шаблонов с блоками и вставкой информации через view.
Применение стилей (собственные или библиотека).
Чистота кода: оценка проводится с помощью pylint.
Аккуратное оформление Git-репозитория:
     README с инструкцией, авторством и описанием проекта.
     Понятные и регулярные коммиты с названиями типа add, fix, refactor.
     История изменений показывает поэтапную разработку, не "одним коммитом".
Проект можно запускать локально — разворачивать сервис в Интернете не обязательно.